
@font-face
{
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeueW23forSKY-Reg.eot") format("embedded-opentype"),
  url("fonts/HelveticaNeueW23forSKY-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'Din regular';
src: url("fonts/DinNextRegular.eot") format("embedded-opentype"),
url("fonts/DinNextRegular.svg") format("svg"),
url("fonts/DinNextRegular.woff") format("ttf"),
url("fonts/DinNextRegular.woff") format("woff"),
url("fonts/DinNextRegular.woff2") format("woff2");
font-weight: normal;
font-style: normal; }

@font-face {
font-family: 'Din light';
src: url("fonts/DinNextLight.eot") format("embedded-opentype"),
url("fonts/DinNextLight.svg") format("svg"),
url("fonts/DinNextLight.woff") format("ttf"),
url("fonts/DinNextLight.woff") format("woff"),
url("fonts/DinNextLight.woff2") format("woff2");
font-weight: light;
font-style: light; }

@font-face {
font-family: 'Din meduim';
src: url("fonts/DinNextMedium.eot") format("embedded-opentype"),
url("fonts/DinNextMedium.svg") format("svg"),
url("fonts/DinNextMedium.woff") format("ttf"),
url("fonts/DinNextMedium.woff") format("woff"),
url("fonts/DinNextMedium.woff2") format("woff2");
font-weight: meduim;
font-style: meduim; }

@font-face {
font-family: 'Din bold';
src: url("fonts/DinNextBold.eot") format("embedded-opentype"),
url("fonts/DinNextBold.svg") format("svg"),
url("fonts/DinNextBold.woff") format("ttf"),
url("fonts/DinNextBold.woff") format("woff"),
url("fonts/DinNextBold.woff2") format("woff2");
font-weight: meduim;
font-style: meduim; }
body,a{font-family: 'Din regular','Open Sans', sans-serif !important;}
.lgx-heading .heading, .lgx-heading .subheading,.h2, .h3, h2, h3  {
    font-family: 'Din regular','Open Sans', sans-serif !important;
}
.lgx-heading .fa-star {
    font-size: 24px;
}
.voyager .side-menu.sidebar-inverse .navbar li>a {
    font-size: 16px;
}
.voyager .table>thead>tr>th {
    font-size: 14px;
}
    .statistics .box > i {float: right;}

element.style {
}
#search-input i {
    display: block;
    font-size: 18px;
    transform: rotate(270deg);
}
* {
    outline: none;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
#search-input button {

    padding: 2px 5px 0px 7px;
}
#search-input button {

    padding: 2px 5px 0px 7px;
}
#search-input .input-group {

    left: 17px;
}
.voyager .btn{
    float: left;
    margin-left:4px;
}
#search-input button {
    border-radius: 0px !important;
}
.read-row .Avatar{max-height: 190px !important;max-width: 190px !important;}
.bread-td-actions .pull-right{float: unset !important;}
.voyager .table>thead>tr>th ,.voyager .table td { text-align: center;}
.voyager .table>thead>tr>th>a{color: black}
#dataTable .bread-actions .btn, .actions a.btn {padding: 5px;}
[dir="rtl"] .dataTables_length {
    float: right;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}
.panel-footer{text-align: end;}
.panel-footer .btn{float: unset;}
.toggle-group .toggle-handle {

    right: 37px;
}
.lgx-header-position,.lgx-header-position-fixed {
    margin-top: 0;
     position: relative ;
    background-color: #00192f;
}
.lgx-single-service p{line-height: 16px;}
.lgx-about-service .lgx-single-service-color .text-area .title {
    display: inline-block;
    font-size: 1.6rem
}
.get-ticket-btn{color: #fff;}
.lgx-about-content-area .lgx-heading,.lgx-about-content{
    text-align: start;
}
.form-control
 ,.multiselect__tags {

    text-align: start !important;
}
.login-card,.card-registration{color: #fff;    background-color: #00192fba;
}

.card-registration .form-control {
    background-color: #fff !important;
    color: black !important;
}
.lgx-registration-form-box input.form-control, .lgx-registration-form-box input.wpcf7-form-control{
    color: black !important;

}
.card-registration h3{color: #fff !important; }
.card-registration .form-control {

    height: 33px !important;

}
.card-registration  label {

    text-align: start;

    display: block;
}
.required {color:red}
.has-error .invalid-feedback{text-align: start !important;}
.select2-container--default{
width: 100%;
text-align: start;
  height: 40px !important;

}
.text-start{text-align: start;}
.lgx-registration-form-box {

    padding-top: 10px;
    min-height: 85vh;
}
@media (max-width: 767px){
.lgx-registration-form-box.lgx-registration-banner-box {
    margin-top: 0;
}
.main-wrapper {
    min-height: 51vh;
}
}
.user-profile .form-control{height: 33px !important;}
.js-datepicker{width: 120px !important; display: inline !important;}
.js-datepicker-label{display: inline !important;}
.text-end{text-align: end;}

.bread-td-actions a{
    background: unset !important;
    padding: 0 !important;
    margin: unset !important;
    box-shadow: unset !important;
}
.bread-td-actions a.delete{
    color: #dc0e0eb8 !important;
}
.bread-td-actions a.edit{
    color: #22a7f0 !important;
}
.bread-td-actions a.view{
    color: #f39c12 !important;
}
.bread-td-actions a i{
    font-size: 18px !important;
    margin: 5px !important;
}

.lgx-inner{
    padding: 5rem 0;
}

.main-activities{
    display: flex;
    justify-content: space-between;
}

.lgx-event__image{
    max-height: 250px;
    width: 100%;
}
.lgx-event__footer {
    display: block !important;
}

.lgx-event__tag span:nth-child(1n),
.lgx-event__tag span:nth-child(2n){
    color: #ddd !important;
    font-size: 13px !important;
}

.lgx-event__info {
margin-top: unset  !important;
}

@media (min-width: 766px) {
    .statistics.home-stat {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
    .statistics.home-stat::before{
        content: unset;

        }
}
@media (max-width: 767px) {
    .statistics.home-stat div {
        margin-bottom: 5px;
    }
}

@media print {
    .no-print
    {
        display: none !important;
    }
}
.dataTables_wrapper .dataTables_info {
    float: right;
}
textarea.resizable-editor{
    width: 100%;
    height: 100px;
    text-align: left;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    padding-left: 19px;}
    .lgx-tab .lgx-nav, .lgx-tab .lgx-tab-content {
        float: right;
    }
    .lgx-tab .nav-pills {
        border-radius:0px 16px 16px 0px !important;
      
    }